<!-- <a href="{{ url }}"> -->
<ion-card (click)="markAsDone($event)" [disabled]="!isHidden">
  <img class="img-left" alt="Silhouette of mountains" src="{{ image }}" />
  <!-- <ion-card-header>
    <ion-card-title>{{ title }}</ion-card-title>
    <ion-card-subtitle>{{ description }}</ion-card-subtitle>
  </ion-card-header> -->
  <ion-content class="container">
    <p><b>Med: </b>{{ medication_name }}</p>
    <p><b>Disp: </b>{{ disp }}</p>
    <p><b>Sig: </b>{{ sig }}</p>
  </ion-content>
  <ion-icon
    class="check-icon"
    [hidden]="isHidden"
    name="checkmark-circle-outline"
  ></ion-icon>
  <ion-icon
    class="alert-icon"
    [hidden]="!isHidden"
    name="alert-circle-outline"
  ></ion-icon>
  <!-- <p class="pts">{{ point }} pts</p> -->
</ion-card>
<!-- </a> -->
