a {
  text-decoration: none;
}

ion-card {
  height: 160px;
  padding: 10px;
  display: flex;
}

ion-card-title,
ion-card-subtitle {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; // number of lines to show
  -webkit-box-orient: vertical;
}

.img-left {
  width: 125px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  margin-right: 16px;
}

.pts {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  font-weight: 600;
}

ion-content {
  font-size: 20px;
  text-wrap: nowrap;
}

ion-content p {
  margin: 5px;
}

.check-icon {
  font-size: 2em;
  color: #006600;
}

.alert-icon {
  font-size: 2em;
  color: red;
}

.background-none {
  background-color: transparent;
}