a {
  text-decoration: none;
}

ion-card {
  height: 170px;
  padding: 10px;

  display: flex;
}

ion-card-title,
ion-card-subtitle {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; // number of lines to show
  -webkit-box-orient: vertical;
}

.img-left {
  width: 125px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  margin-right: 16px;
}

.pts {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
  font-weight: 600;
}

ion-content {
  font-size: 20px;
  text-wrap: nowrap;
}

ion-content p {
  margin: 5px;
}

ion-icon {
  font-size: 2em;
  color: #006600;
}
// {
//   "status": "success",
//   "data": [
//       {
//           "brandName": "Paracetamol",
//           "genericName": "Paracetamol",
//           "atcClassification": "N02BE01",
//           "formulation": "Syrup",
//           "class": "Analgesic",
//           "company": "GSK",
//           "strength": "500mg",
//           "start_date": "2023-10-02",
//           "end_date": "2023-10-06",
//           "morning": 1,
//           "afternoon": 0,
//           "night": 0,
//           "total_medicine": 0,
//           "comment": null,
//           "reminder_active": 1
//       },
//       {
//           "id": 2,
//           "created_at": "2023-10-02 16:38:35",
//           "updated_at": "2023-10-02 16:38:35",
//           "patient_id": 3,
//           "professional_id": 2,
//           "appointment_id": 1,
//           "deleted_at": null,
//           "prescription_id": 1,
//           "medication_id": 9,
//           "brandName": "Amlodipine",
//           "genericName": "Amlodipine",
//           "atcClassification": "C08CA01",
//           "formulation": "Tablet",
//           "class": "Calcium channel blocker",
//           "company": "Pfizer",
//           "strength": "5mg",
//           "barcode": "3100123456789",
//           "start_date": "2023-10-02",
//           "end_date": "2023-10-06",
//           "morning": 0,
//           "afternoon": 0,
//           "night": 1,
//           "total_medicine": 0,
//           "comment": null,
//           "reminder_active": 1
//       }
//   ]
// }
