<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> </ion-header>

  <div class="img-container" *ngIf="screen === 'signin'">
    <img
      [@rollInPopOut]="trigger"
      class="center-image"
      src="../../../assets/icon/UbissonLogo.svg"
      alt="Ubisson-logo"
    />
    <div *ngIf="screen === 'signin'">
      <p class="welcome-text">Welcome to Biotective</p>
    </div>
  </div>

  <div class="img-container" *ngIf="screen === 'forget'">
    <img
      class="center-image"
      src="../../../assets/icon/UbissonLogo.svg"
      alt="Ubisson-logo"
    />
    <div *ngIf="screen === 'forget'">
      <p class="welcome-text">Forgot your password?</p>
    </div>
  </div>

  <!-- Login Section -->
  <div class="container" *ngIf="screen === 'signin'">
    <!-- Login Form -->
    <form [formGroup]="loginFormData">
      <div class="input-container">
        <ion-input
          class="text-input"
          formControlName="organizationId"
          type="number"
          label-placement="floating"
          placeholder="1"
          [counter]="true"
          maxlength="10"
          label="Organization ID"
        ></ion-input>
      </div>
        
      <!-- Username -->
      <div class="ion-item">
        <div class="input-container">
          <ion-input
            class="text-input"
            formControlName="username"
            labelPlacement="floating"
            placeholder="name@domain.com"
            [counter]="true"
            maxlength="200"
            label="Username"
            type="username"
          ></ion-input>
        </div>
      </div>

      <!-- Password -->
      <div class="ion-item">
        <div class="input-container">
          <ion-input
            class="text-input"
            formControlName="password"
            labelPlacement="floating"
            placeholder="*********"
            [counter]="true"
            maxlength="200"
            label="Password"
            type="password"
          ></ion-input>
        </div>
      </div>

      <!-- Alert -->
      <div *ngIf="showAlert">
        <ion-text color="danger"
          >Wrong username or password, please try again</ion-text
        >
      </div>

      <!-- Login Button -->
      <ion-button
        class="login-button"
        (click)="login()"
        expand="block"
        [disabled]="isLoading"
      >
        Login
      </ion-button>

      <!-- TEST Button -->
      <!-- <ion-button class="login-button" (click)="rotate()" expand="block" [disabled]="isLoading">
        Test
      </ion-button> -->

      <!-- Register Button and Forget Password Button -->
      <div class="center-text">
        <p>
          <a class="forget-text" (click)="change('forget')"
            ><b>Forgot Password?</b></a
          >
        </p>
      </div>
    </form>
  </div>

  <!-- Forget Password Section -->
  <div class="container" *ngIf="screen === 'forget'">
    <p class="grey-text">
      Enter your email below and we will send you instructions to recover your
      password
    </p>

    <!-- Forget Password Form -->
    <form [formGroup]="forgetFormData">
      <!-- Email -->
      <div class="ion-item">
        <ion-input
          formControlName="email"
          type="email"
          label-placement="floating"
          fill="outline"
          placeholder="name@domain.com"
        ></ion-input>
      </div>
    </form>

    <!-- Display Alert -->
    <div *ngIf="showAlertForget">
      <ion-text color="primary"
        >An email with instructions on how to reset your password has been Sent,
        if you <b>do not</b> receive any email, kindly check the email entered
        or your spam email folder.</ion-text
      >
    </div>

    <!-- Reset password button -->
    <ion-button
      class="login-button"
      (click)="forget()"
      expand="block"
      [disabled]="isLoading"
    >
      Reset Password
    </ion-button>

    <!-- Button to Login page -->
    <div class="center-text">
      <p class="signup-text">
        Already have an account? &nbsp;<a
          class="forget-text"
          (click)="change('signin')"
          ><b>Login Here</b></a
        >
      </p>
    </div>
  </div>
</ion-content>
