<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> BioTective Pharmacy </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scanArea" [hidden]="!scanActive"></div>

  <div class="btn-start-scan" (click)="startScan()" [hidden]="scanActive">
    <p class="btn-text">Click to Scan e-Prescription</p>
  </div>

  <!-- <ion-button
    class="btn-start-scan"
    expand="block"
    class="ion-margin"
    (click)="startScan()"
    [hidden]="scanActive"
    [disabled]="scanActive"
  >
    Start Scan
  </ion-button> -->

  <!-- <ion-button
    expand="block"
    class="ion-margin"
    (click)="stopScan()"
    [hidden]="!scanActive"
    [disabled]="!scanActive"
  >
    Stop Scan
  </ion-button> -->

  <ion-icon
    class="btn-left"
    name="close-circle-outline"
    (click)="stopScan()"
    [hidden]="!scanActive"
  ></ion-icon>
</ion-content>
