.scanArea {
  border: 2px solid #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
}

.btn-start-scan {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border: 2px solid white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  // background-color: #641010;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  text-align: center;
}

.btn-text {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.btn-left {
  position: absolute;
  left: 0;
  font-size: 30px;
  margin: 16px;
  box-shadow: 0 0 10px 0 white;
  background-color: #fff;
  --background: #fff;
  border-radius: 50%;
}
.btn-right {
  position: absolute;
  right: 0;
  font-size: 30px;
  margin: 16px;
  box-shadow: 0 0 10px 0 white;
  border-radius: 5px;
}

.scanner-active {
  background-color: transparent !important;
  --background: transparent;
  --ion-background-color: transparent;
}
